.profile-photo{
  border-radius: 50%;
    object-fit: cover;
    border-width: 2;
    border-color: white;
    width:25%
    
  }
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}


.nav-masthead{
  --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    border:0;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.nav-link {
  margin-left: 1rem;
}

.justify-content-center {
  justify-content: center !important;}

.text-bg-dark {
  color: #fff !important;}

.cover-container{
    background-color:rgba(194, 161, 148, 0.445);
    margin: 0;
    border:0;
    justify-content: center;
  }

  .middle-container{
    justify-content: center;
  text-align:center;}

  .footer-container{
    background-color:rgba(194, 161, 148, 0.445);
    margin: 0;
    border:0;
  }

